In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.orm import Session

# import and establish Base for which classes will be constructed
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

# import modlues to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float

In [2]:
# read in video game sales data downloaded from Kaggle, https://www.kaggle.com/gregorut/videogamesales
vgsales = pd.read_csv("resources/vgsales.csv")

In [3]:
# drop rows with nan values in the Year column
vgsales = vgsales.dropna(subset=["Year"])

In [4]:
# change years to integers
vgsales["Year"] = vgsales["Year"].astype(int)

In [5]:
# check data types for the CSV dataset
vgsales.dtypes

Rank              int64
Name             object
Platform         object
Year              int32
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
dtype: object

In [6]:
# verification
vgsales

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [7]:
# create the 'Vgsales' class
class Vgsales(Base):
    __tablename__ = 'vgsales'
    id = Column(Integer, primary_key=True)
    rank = Column(Integer)
    name = Column(String(255))
    platform = Column(String(255))
    year = Column(Integer)
    genre = Column(String(255))
    publisher = Column(String(255))
    na_sales = Column(Float)
    eu_sales = Column(Float)
    jp_sales = Column(Float)
    other_sales = Column(Float)
    global_sales = Column(Float)

In [8]:
# create a connection to a SQLite database
engine = create_engine("sqlite:///resources/vgsales_db.sqlite")

In [9]:
# create the 'vgsales' table withing the database
Base.metadata.create_all(engine)

In [10]:
# to push the objects made and query the server we use a Session object
session = Session(bind=engine)

In [11]:
# iterate over each row
for index, row in vgsales.iterrows():
    # create an instance of the 'Vgsales' class
    vgsales_instance = Vgsales(rank=row[0], name=row[1], platform=row[2], year=row[3], genre=row[4],
                               publisher=row[5], na_sales=row[6], eu_sales=row[7], jp_sales=row[8], other_sales=row[9],
                               global_sales=row[10])
    # add object to the session
    session.add(vgsales_instance)

# commit the objects to the database
session.commit()

In [12]:
# verification: query some of the items and print their information
items = session.query(Vgsales)
for item in items:
    if item.id >= 11:
        break
    else:
        print("-"*12)
        print(f'id: {item.id}')
        print(f'rank: {item.rank}')
        print(f'name: {item.name}')
        print(f'year: {item.year}')
        print(f'genre: {item.genre}')
        print(f'publisher: {item.publisher}')

# close the session
session.close()

------------
id: 1
rank: 1
name: Wii Sports
year: 2006
genre: Sports
publisher: Nintendo
------------
id: 2
rank: 2
name: Super Mario Bros.
year: 1985
genre: Platform
publisher: Nintendo
------------
id: 3
rank: 3
name: Mario Kart Wii
year: 2008
genre: Racing
publisher: Nintendo
------------
id: 4
rank: 4
name: Wii Sports Resort
year: 2009
genre: Sports
publisher: Nintendo
------------
id: 5
rank: 5
name: Pokemon Red/Pokemon Blue
year: 1996
genre: Role-Playing
publisher: Nintendo
------------
id: 6
rank: 6
name: Tetris
year: 1989
genre: Puzzle
publisher: Nintendo
------------
id: 7
rank: 7
name: New Super Mario Bros.
year: 2006
genre: Platform
publisher: Nintendo
------------
id: 8
rank: 8
name: Wii Play
year: 2006
genre: Misc
publisher: Nintendo
------------
id: 9
rank: 9
name: New Super Mario Bros. Wii
year: 2009
genre: Platform
publisher: Nintendo
------------
id: 10
rank: 10
name: Duck Hunt
year: 1984
genre: Shooter
publisher: Nintendo