In [1]:
# python SQL toolkit and object relational mapper
import pandas as pd
import sqlalchemy

from sqlalchemy.orm import Session
from sqlalchemy import create_engine

from sqlalchemy.ext.automap import automap_base

In [2]:
# create engine using 'vgsales_db'.sqlite database file
engine = create_engine("sqlite:///resources/vgsales_db.sqlite")

In [3]:
# declare a base using 'automap_base()'
Base = automap_base()

In [4]:
# use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)

In [5]:
# print all of the classes mapped to the base
Base.classes.keys()

['vgsales']

In [6]:
# assign the netflix_titles class to a variable called 'vgsales'
vgsales = Base.classes.vgsales

In [7]:
# create a session
session = Session(engine)

In [8]:
# display the row's columns and data in dictionary format
first_row = session.query(vgsales).first()
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x28fecbb87c0>,
 'eu_sales': 29.02,
 'publisher': 'Nintendo',
 'year': 2006.0,
 'rank': 1,
 'name': 'Wii Sports',
 'platform': 'Wii',
 'global_sales': 82.74,
 'jp_sales': 3.77,
 'na_sales': 41.49,
 'genre': 'Sports',
 'id': 1,
 'other_sales': 8.46}

In [9]:
# use the session to query and display first 10 video games
for row in session.query(vgsales.name).limit(10).all():
    print(row)

('Wii Sports',)
('Super Mario Bros.',)
('Mario Kart Wii',)
('Wii Sports Resort',)
('Pokemon Red/Pokemon Blue',)
('Tetris',)
('New Super Mario Bros.',)
('Wii Play',)
('New Super Mario Bros. Wii',)
('Duck Hunt',)

In [10]:
# display all 'Nintendo' games in 1985 with a query
games = session.query(vgsales).filter(vgsales.publisher == 'Nintendo')\
    .filter(vgsales.year == 1985.0).all()

# loop over and print out results
for game in games:
    print("-"*12)
    print(f'id: {game.id}')
    print(f'Name: {game.name}')
    print(f'Genre: {game.genre}')
    print(f'Publisher: {game.publisher}')
    print(f'Global Sales: {game.global_sales}')
    print(f'Year: {game.year}')
    print(f'Rank: {game.rank}')

------------
id: 2
Name: Super Mario Bros.
Genre: Platform
Publisher: Nintendo
Global Sales: 40.24
Year: 1985.0
Rank: 2
------------
id: 375
Name: Kung Fu
Genre: Action
Publisher: Nintendo
Global Sales: 3.5
Year: 1985.0
Rank: 375
------------
id: 869
Name: Soccer
Genre: Sports
Publisher: Nintendo
Global Sales: 1.96
Year: 1985.0
Rank: 870
------------
id: 1261
Name: Ice Climber
Genre: Platform
Publisher: Nintendo
Global Sales: 1.5
Year: 1985.0
Rank: 1262
------------
id: 1491
Name: Gyromite
Genre: Puzzle
Publisher: Nintendo
Global Sales: 1.32
Year: 1985.0
Rank: 1492
------------
id: 2260
Name: Balloon Fight
Genre: Platform
Publisher: Nintendo
Global Sales: 0.92
Year: 1985.0
Rank: 2261
------------
id: 3908
Name: Wrecking Crew
Genre: Platform
Publisher: Nintendo
Global Sales: 0.51
Year: 1985.0
Rank: 3909